{% extends 'base.html' %}

{% block title %}Staff Page{% endblock %}

{% block content %}

<H1 class="bg-warning">All the Apiarists</H1>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Date Joined</th>
        <th>Active Status</th>
      </tr>
    </thead>
    <tbody>
      {% for user in allApiarists %}
      <tr>
        {% for field in user %}
          {% if loop.index == 9 %}
            <td>
              {% if field == 1 %}
                Active
              {% else %}
                Deactivated
              {% endif %}
            </td>
          {% else %}
            <td>
              {% if 'staff' in session %}
                <a href="{{url_for('staff_single_apiarist', id=user[0])}}" class="text-decoration-none text-dark">
                  {{field}}
                </a>
              {% elif 'admin' in session %}
                <a href="{{url_for('admin_single_apiarist', id=user[0])}}" class="text-decoration-none text-dark">
                  {{field}}
                </a>
              {% endif %}
            </td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
