{% extends 'base.html' %}

{% block title %}Staff Page{% endblock %}

{% block content %}

{% if not apiarist %}
<H1>All the Apiarists</H1>
<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>address</th>
    <th>Date Joined</th>
    <th>Active Status</th>
  </tr>
  {% for user in allApiarists %}
  
  <tr>
    {% for field in user %}
    <td>

      {% if 'staff' in session %}
       <a href="{{url_for('staff_single_apiarist', id=user[0])}}">
         {{field}}
       </a>

      {% elif 'admin' in session %}
       <a href="{{url_for('admin_single_apiarist', id=user[0])}}"> 
         {{field}}
       </a>
      {% endif %}
    </td>
    {% endfor %}
    {% endfor %}
  </tr>

</table>

{% else %}
<form action="", methods="POST">


  this is a form
</form>

{% endif %}

{% endblock %}