{% extends 'managingUser.html' %}

{% block title %}Pest and Disease Information{% endblock %}

{% block content %}

{{pest}}
{% if changed %}
<H1 class="bg-warning">Pest and Disease Information</H1>
<div class="alert alert-success"   role="alert">
  <p>
    {{msg}}
  </p> 
 </div>
{% endif %}
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Item Type</th>
        <th>Presence</th>
        <th>Common Name</th>
        <th>Scientific Name</th>
        <th>Key Characteristics</th>
        <th>Biology Description</th>
        <th>Symptoms</th>
        <th>Primary Image</th>
      </tr>
    </thead>
    <tbody>

      {% for item in all_pest %}
      
      <tr>
        <td> <a href="
          {% if 'staff' in session %}
          {{url_for('staff_pest', id=item[0])}}
          {% elif 'admin' in session %}
          {{url_for('admin_pest', id=item[0])}}

          {% elif 'user' in session %}
          {{url_for('user_pest', id=item[0])}}
          {% endif %}
          " class="text-decoration-none text-dark">{{ item[1] }}</a></td>
        <td>
          {% if item[2] == 1 %}
         <a href="
          {% if 'staff' in session %}
          {{url_for('staff_pest', id=item[0])}}
          {% elif 'admin' in session %}
          {{url_for('admin_pest', id=item[0])}}

          {% elif 'user' in session %}
          {{url_for('user_pest', id=item[0])}}
          {% endif %}
          " class="text-decoration-none text-dark">Active In New Zealand </a>
          {% else %}
          Not Found in New Zealand
          {% endif %}
        </td>
        <td><a href="
          {% if 'staff' in session %}
          {{url_for('staff_pest', id=item[0])}}
          {% elif 'admin' in session %}
          {{url_for('admin_pest', id=item[0])}}

          {% elif 'user' in session %}
          {{url_for('user_pest', id=item[0])}}
          {% endif %}
          " class="text-decoration-none text-dark">{{ item[3] }}</a></td>

        <td><a href="
          {% if 'staff' in session %}
          {{url_for('staff_pest', id=item[0])}}
          {% elif 'admin' in session %}
          {{url_for('admin_pest', id=item[0])}}

          {% elif 'user' in session %}
          {{url_for('user_pest', id=item[0])}}
          {% endif %}
          " class="text-decoration-none text-dark">{{ item[4] }}</a></td>

        <td><a href="
          {% if 'staff' in session %}
          {{url_for('staff_pest', id=item[0])}}
          {% elif 'admin' in session %}
          {{url_for('admin_pest', id=item[0])}}

          {% elif 'user' in session %}
          {{url_for('user_pest', id=item[0])}}
          {% endif %}
          " class="text-decoration-none text-dark">{{ item[5] }}</a></td>

        <td><a href="
          {% if 'staff' in session %}
          {{url_for('staff_pest', id=item[0])}}
          {% elif 'admin' in session %}
          {{url_for('admin_pest', id=item[0])}}

          {% elif 'user' in session %}
          {{url_for('user_pest', id=item[0])}}
          {% endif %}
          " class="text-decoration-none text-dark">{{ item[6] }}</a></td>

        <td><a href="
          {% if 'staff' in session %}
          {{url_for('staff_pest', id=item[0])}}
          {% elif 'admin' in session %}
          {{url_for('admin_pest', id=item[0])}}

          {% elif 'user' in session %}
          {{url_for('user_pest', id=item[0])}}
          {% endif %}
          " class="text-decoration-none text-dark">{{ item[7] }}</a></td>

        <td>
         <a href="
          {% if 'staff' in session %}
          {{url_for('staff_pest', id=item[0])}}
          {% elif 'admin' in session %}
          {{url_for('admin_pest', id=item[0])}}

          {% elif 'user' in session %}
          {{url_for('user_pest', id=item[0])}}
          {% endif %}
          " class="text-decoration-none text-dark"><img src="/static/images/{{item[11]}}" alt="/static/{{item[11]}}"></a>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
