{% extends 'base.html' %}

{% block title %}References{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center mt-5">Bee Biosecurity References</h1>

    <div class="row justify-content-center mt-5 p-8">
        <div class="col-md-8">

            <div class="list-group">
                <a href="https://www.mpi.govt.nz/biosecurity/how-to-find-report-and-prevent-pests-and-diseases/bee-biosecurity/" class="list-group-item list-group-item-action  bg-warning py-2">
                    <h2 class="mb-1">MPI Bee Biosecurity</h2>
                    <p class="mb-1">Learn how to find, report, and prevent pests and diseases affecting bees.</p>
                    <small>https://www.mpi.govt.nz/biosecurity/how-to-find-report-and-prevent-pests-and-diseases/bee-biosecurity/</small>
                </a>
                <a href="https://www.mpi.govt.nz/dmsdocument/36975-New-Zealand-Bee-Biosecurity-Visual-ID-Guide" class="list-group-item list-group-item-action  bg-dark py-2 text-warning">
                    <h5 class="mb-1 ">NZ Bee Biosecurity Visual ID Guide</h5>
                    <p class="mb-1">Visual identification guide to bee pests and diseases in New Zealand.</p>
                    <small>https://www.mpi.govt.nz/dmsdocument/36975-New-Zealand-Bee-Biosecurity-Visual-ID-Guide</small>
                </a>
                <a href="https://www.mpi.govt.nz/dmsdocument/58072-Bee-Biosecurity-The-Essentials-Booklet" class="list-group-item list-group-item-actio  bg-warning py-2">
                    <h5 class="mb-1">Bee Biosecurity Essentials Booklet</h5>
                    <p class="mb-1">Essential information on bee biosecurity measures.</p>
                    <small>https://www.mpi.govt.nz/dmsdocument/58072-Bee-Biosecurity-The-Essentials-Booklet</small>
                </a>
            </div>
           
        </div>
    </div>
</div>

{% endblock %}
