{% extends 'base.html'%}
{% block title %}Register New Account {% endblock %}

{% block content %}

  <form action="{{ url_for('register') }}" method="POST" autocomplete="off" class="bg-warning p-4 rounded">
    <div class="mb-3 form-floating form-group">
      <input type="text" class="form-control" id="username" name="username" placeholder="" required>
      <label for="username">Username</label>
    </div>
    <div class="mb-3 form-floating form-group">
      <input type="password" class="form-control" id="password" name="password" placeholder="" required>
      <label for="password" class="form-label">Password</label>
    </div>
    <div class="mb-3 form-floating form-group">
      <input type="email" class="form-control" id="email" name="email" placeholder="" required>
      <label for="email" class="form-label">Email</label>
    </div>
    <div class="mb-3 form-floating form-group">
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="" required>
      <label for="firstname" class="form-label">First Name</label>
    </div>
    <div class="mb-3 form-floating form-group">
      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="" required>
      <label for="lastname" class="form-label">Last Name</label>
    </div>
    <div class="mb-3 form-floating form-group">
      <input type="text" class="form-control" id="address" name="address" placeholder="" required>
      <label for="address" class="form-label">Address</label>
    </div>
    <div class="mb-3 form-floating form-group">
      <input type="text" class="form-control" id="phone" name="phone" placeholder="">
      <label for="phone" class="form-label">Phone Number</label>
    </div>
   
    {% if msg %}
    <div class="alert {% if not registered %}alert-danger{% endif %}  {% if registered %}alert-success{% endif %}"   role="alert">
    {{ msg }}

    {% endif %}
    
    {% if login %}
    <div class="alert alert-danger" role="alert">
     <p>
       Email has been used to register an account, Please try <a href='/login' class="alert-link">login</a> or use another email.
     </p> 
    </div>
    {% endif %}
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
{% endblock %}
